<config>
	<modules>
		<Cammino_Pagseguro>
			<version>0.1.0</version>
			<depends>
				<Mage_Payment />
			</depends>
		</Cammino_Pagseguro>
	</modules>
	<global>
		<models>
			<pagseguro>
				<class>Cammino_Pagseguro_Model</class>
			</pagseguro>
		</models>
		<blocks>
			<pagseguro>
				<class>Cammino_Pagseguro_Block</class>
			</pagseguro>
		</blocks>
		<resources>
			<connection>
				<use>core_setup</use>
			</connection>
		</resources>
	</global>
	<frontend>
		<routers>
			<pagseguro>
				<use>standard</use>
				<args>
					<module>Cammino_Pagseguro</module>
					<frontName>pagseguro</frontName>
				</args>
			</pagseguro>
		</routers>
        <events>
			<checkout_onepage_controller_success_action>
				<observers>
					<googleanalytics_order_success>
						<class>googleanalytics/observer</class>
						<method>setGoogleAnalyticsOnOrderSuccessPageView</method>
					</googleanalytics_order_success>
				</observers>
			</checkout_onepage_controller_success_action>
		</events>
	</frontend>
	<default>
		<payment>
			<pagseguro_standard>
				<active>0</active>
				<model>Cammino_Pagseguro_Model_Standard</model>
				<title>PagSeguro</title>
			</pagseguro_standard>
		</payment>
	</default>
</config>